{% extends "/templates/base.html" %}
{% block title %}Home{% endblock %}
{% block extra_header %}
<div class="p-3 pb-md-4 mx-auto text-center">
  <h1 class="display-4 fw-normal">Python</h1>
  <p class="fs-5 text-muted">
    Python can be easy to pick up whether you're a first time programmer
    or you're experienced with other languages.
  </p>
</div>
{% endblock %}
{% block content %}
<main class="container">
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Python Core</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title mb-3">
            12 <small class="text-muted fw-light">weeks</small>
          </h1>
          <h5>Technology:</h5>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Python</li>
            <li>pip</li>
            <li>OOP</li>
            <li>pickle</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm border-primary">
        <div class="card-header py-3 text-bg-primary border-primary">
          <h4 class="my-0 fw-normal">Python Web</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title mb-3">
            14 <small class="text-muted fw-light">weeks</small>
          </h1>
          <h5>Technology:</h5>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Docker, Poetry, Pipenv</li>
            <li>SQLAlchemy, MongoDB</li>
            <li>Django</li>
            <li>FastAPI</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card mb-4 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Python Data Science</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title mb-3">
            12 <small class="text-muted fw-light">weeks</small>
          </h1>
          <h5>Technology:</h5>
          <ul class="list-unstyled mt-3 mb-4">
            <li>NumPy, Pandas</li>
            <li>Matplotlib, Seaborn</li>
            <li>TensorFlow</li>
            <li>Keras</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}